.header_container {
  position: fixed;
  top: 0;
  width: 100%;
  background: #1f273f;
  border-bottom: 1px solid #2c3752;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #fff;
    padding: 12px 24px;
    font-size: 28px;
  }

  .header_button_container {
    padding: 12px 24px;
  }
}