.header_container {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #fff;
    padding: 12px 24px;
    font-size: 28px;
  }

  .header_button_container {
    padding: 12px 24px;
  }
}